<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cientifica.convivirx.mappers.UnidadPrivadaMapper">

	<resultMap id="unidadPrivadaResultMap" type="edu.cientifica.convivirx.model.UnidadPrivada">
		
		<id column="id_uprivada" property="id" />
		<result column="numeracion" property="numeracion" />
		<result column="zona" property="zona" />
		<association column="id_uinmobiliaria" property="unidadInmobiliaria"
			javaType="edu.cientifica.convivirx.model.UnidadInmobiliaria" 
			resultMap="edu.cientifica.convivirx.mappers.UnidadInmobiliariaMapper.unidadInmobiliariaResultMap" />
		
		<association column="id_persona" property="propietario"
      javaType="edu.cientifica.convivirx.model.Propietario" 
      resultMap="edu.cientifica.convivirx.mappers.PropietarioMapper.propietarioResultMap" />
      
    <association column="id_tipo_unidad" property="tipoUnidad"
    javaType="edu.cientifica.convivirx.model.TipoUnidad"
    resultMap="edu.cientifica.convivirx.mappers.TipoUnidadMapper.tipoUnidadResulMap"/>
			
	</resultMap>
	
	<select id="findAllUnidadPrivada" resultMap="unidadPrivadaResultMap">
  SELECT 
    up.*, ui.*, p.*, tu.*
  FROM unidadprivada up
  INNER JOIN unidadinmobiliaria ui 
    ON up.id_uinmobiliaria=ui.id_uinmobiliaria
  LEFT JOIN persona_up pup
    ON up.id_uprivada = pup.id_uprivada
    AND pup.id_tipo_relacion = '1' 
  LEFT JOIN persona p
    ON pup.id_persona = p.id_persona
  INNER JOIN tipounidad tu
    ON up.id_tipo_unidad = tu.id
  ORDER BY up.id_uprivada asc
  
    
	</select>
	
	<select id="findUnidadPrivadaById" resultMap="unidadPrivadaResultMap">
	SELECT 
    up.*, ui.*, p.*, tu.*
  FROM unidadprivada up
  INNER JOIN unidadinmobiliaria ui 
    ON up.id_uinmobiliaria=ui.id_uinmobiliaria
  LEFT JOIN persona_up pup
    ON up.id_uprivada = pup.id_uprivada
    AND pup.id_tipo_relacion = '1' 
  LEFT JOIN persona p
    ON pup.id_persona = p.id_persona
  INNER JOIN tipounidad tu
    ON up.id_tipo_unidad = tu.id
  WHERE
    up.id_uprivada=#{id}
  ORDER BY up.id_uprivada asc
	</select>
	
	<insert id="insertUnidadPrivada" parameterType="edu.cientifica.convivirx.model.UnidadPrivada">
	   INSERT INTO unidadprivada 
	     (id_uprivada, id_tipo_unidad, numeracion, zona, id_uinmobiliaria)
     VALUES
      (#{id}, #{tipoUnidad.id}, #{numeracion}, #{zona}, #{unidadInmobiliaria.id})
	</insert>
	
	<insert id="insertUnidadPrivadaPropietario" parameterType="edu.cientifica.convivirx.model.UnidadPrivada">
	   INSERT INTO persona_up 
       (id_uprivada, id_persona,id_tipo_relacion)
     VALUES
      (#{id}, #{propietario.id}, '1')
	</insert>
	
	<update id="updateUnidadPrivada" parameterType="edu.cientifica.convivirx.model.UnidadPrivada">
	   UPDATE 
	     unidadprivada
	   SET 
	     id_tipo_unidad= #{tipoUnidad.id},
	     numeracion=#{numeracion},
	     zona=#{zona}, 
       id_uinmobiliaria=#{unidadInmobiliaria.id} 
      WHERE id_uprivada= #{id}
	</update>
	
	<update id="updateUnidadPrivadaPropietario" parameterType="edu.cientifica.convivirx.model.UnidadPrivada">
	   UPDATE 
       persona_up
     SET
       id_persona = #{propietario.id}
     WHERE 
       id_uprivada= #{id} 
  </update>
	
</mapper>