<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/convivir.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convivir</title>
</head>

<body>
    <div id="contenedor">
        <div id="header">
            <div id="logo">
                <img src="/img/logotitulo.png" alt="logotitulo">

            </div>
            <div id="cardlogin">
                <div id="controles">
                    <div class="control">
                        <a href="/login">
                            <img src="/img/butt_iniciar_sesion.png">
                        </a>
                    </div>

                </div>
                
            </div>

        </div>
        <div id=foto>
            <img src="/img/fotoheader.png" alt="fotoheader">

        </div>
        <div id="main">
            <a class="card_main" href="#">
                <img src="/img/card_adm_uprivada.png">

            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_residentes.png">
            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_cuotas.png">
            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_comunicados.png">
            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_visitas.png">
            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_gastos.png">
            </a>

        </div>
        <div id="footer">
            <a class="card_foot" href="#">
                <img src="/img/card_quienessomos.png" alt="quienes somos">
            </a>
            <a class="card_foot" href="#">
                <img src="/img/card_nuestrosservicios.png" alt="nuestros servicios">
            </a>

            <a class="card_foot" href="#">
                <img src="/img/card_solicitademo.png" alt="solicita una demo">
            </a>

        </div>

    </div>
</body>

</html>