<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/convivir.css" th:href="@{/css/convivir.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convivir</title>
</head>

<body>
    <div id="contenedor">
        <div id="header">
            <div id="logo">
                <img src="/img/logotitulo.png" th:src="@{/img/logotitulo.png}" alt="logotitulo">

            </div>
            <div id="cardlogin">
                <div id="controles">
                    <div class="control">
                        <select name="uinmobiliaria" id="uinmobiliaria">
                        <option value="1">La Florida</option>
                        <option value="2">Los Titanes</option>
                        <option value="3">Camino Real</option>
                        <option value="4">Campanilla</option>
                      </select>
                    </div>
                    <div class="control">
                        <select name="uprivada" id="uprivada">
                        <option value="1">Dpto 101 A</option>
                        <option value="2">Dpto 102 A</option>
                      </select>
                    </div>
                    <div class="control">
                        <a href="/index" th:href="@{/index}">
                            <img src="/img/butt_cerrar_sesion.png" th:src="@{/img/butt_cerrar_sesion.png}">

                        </a>
                    </div>

                </div>
                <div id="datos">
                    <p> Usuario: Juan Zavaleta Garcia</p>
                    <p> Propietario: Pedro Teran Gutierrez</p>
                    <p> Deuda: S/ 123.00</p>
                </div>
            </div>

        </div>
        <div id=foto>
            <img src="/img/fotoheader.png" th:src="@{/img/fotoheader.png}" alt="fotoheader">

        </div>
        
        
        <div id="main">
            <a class="card_main" href="#" th:href="@{/uprivada/lista}"  >
                <img src="/img/card_adm_uprivada.png" th:src="@{/img/card_adm_uprivada.png}">

            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_residentes.png" th:src="@{/img/card_adm_residentes.png}">
            </a>
                        
            <a class="card_main" href="#" th:href="@{/estadocuenta/uprivada/lista}">
                <img src="/img/card_adm_cuotas.png" th:src="@{/img/card_adm_cuotas.png}">
            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_comunicados.png" th:src="@{/img/card_adm_comunicados.png}">
            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_visitas.png" th:src="@{/img/card_adm_visitas.png}">
            </a>
            <a class="card_main" href="#">
                <img src="/img/card_adm_gastos.png" th:src="@{/img/card_adm_gastos.png}">
            </a>

        </div>
        <div id="footer">
            <a class="card_foot" href="#">
                <img src="/img/card_quienessomos.png" th:src="@{/img/card_quienessomos.png}" alt="quienes somos">
            </a>
            <a class="card_foot" href="#">
                <img src="/img/card_nuestrosservicios.png" th:src="@{/img/card_nuestrosservicios.png}" alt="nuestros servicios">
            </a>

            <a class="card_foot" href="#">
                <img src="/img/card_solicitademo.png" th:src="@{/img/card_solicitademo.png}" alt="solicita una demo">
            </a>

        </div>

    </div>
</body>

</html>