<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/css/convivir.css" th:href="@{/css/convivir.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Convivir</title>
</head>

<body>
	<div id="contenedor">
		<div id="header">
			<div id="logo">
				<img src="/img/logotitulo.png" th:src="@{/img/logotitulo.png}" alt="logotitulo">

			</div>
			<div id="cardlogin">
				<div id="controles">
					<div class="control">
						<select name="uinmobiliaria" id="uinmobiliaria">
							<option value="1">La Florida</option>
							<option value="2">Los Titanes</option>
							<option value="3">Camino Real</option>
							<option value="4">Campanilla</option>
						</select>
					</div>
					<div class="control">
						<select name="uprivada" id="uprivada">
							<option value="1">Dpto 101 A</option>
							<option value="2">Dpto 102 A</option>
						</select>
					</div>
					<div class="control">
						<a href="/index" th:href="@{/index}">
							<img src="/img/butt_cerrar_sesion.png" th:src="@{/img/butt_cerrar_sesion.png}">

						</a>
					</div>

				</div>
				<div id="datos">
					<p>Usuario: Juan Zavaleta Garcia</p>
					<p>Propietario: Pedro Teran Gutierrez</p>
					<p>Deuda: S/ 123.00</p>
				</div>
			</div>

		</div>
		<div id=foto>
			<img src="/img/fotoheader.png" th:src="@{/img/fotoheader.png}" alt="fotoheader">

		</div>
    <div class="topnav">
          <a href="#" th:href="@{/principal}">Inicio</a>
          <a href="#" th:href="@{/uprivada/lista}">Unidades Privadas</a>
          <a href="#" th:href="@{/residente/lista}">Residentes</a>
          <a href="#" th:href="@{/estadocuenta/uprivada/lista}">Cuotas</a>
          <a href="#" th:href="@{/comunicado/lista}">Comunicados</a>
          <a href="#" th:href="@{/visita/lista}">Visitas</a>
          <a href="#" th:href="@{/gasto/lista}">Gastos</a>

    </div>
		<div class="principal">

			<a href="#" th:href="@{/uprivada/form}" class="btn btn-success">
				<i class="fa fa-plus" aria-hidden="true"></i> Nueva Unidad Privada
			</a>

			<table class="table table-light">
				<thead class="thead-light">
					<tr>
						<th>Id</th>
						<th>U Inmobiliaria</th>
						<th>Tipo Unidad</th>
						<th>Numeracion</th>
						<th>Zona</th>
            <th>Propietario</th>
						<th>Edit</th>

					</tr>
				</thead>

				<tbody>
					<tr th:if="${unidades.empty}">
						<td>No existen resultados</td>
					</tr>
					<tr th:each="unidad: ${unidades}">
						<td>
							<span th:text="${unidad.id}">1</span>
						</td>

						<td>
							<span th:text="${unidad.unidadInmobiliaria}? ${unidad.unidadInmobiliaria.nombreCorto}: ''">Condominio X</span>
						</td>

						<td>
							<span th:text="${unidad.tipoUnidad.descripcion}">Vivienda</span>
						</td>

						<td>
							<span th:text="${unidad.numeracion}">101 - A</span>
						</td>

						<td>
							<span th:text="${unidad.zona}">101 - A</span>
						</td>
            
            <td>
              <span th:text="${unidad.propietario.nombre} + ' ' + ${unidad.propietario.primerApellido}">101 - A</span>
            </td>

						<td>
							<span > 
							 <a href="#" th:href="@{'/uprivada/edit/'+${unidad.id}}">
									<i class="fa fa-pencil-square" aria-hidden="true"></i> Edit
								</a>
							</span> 
							
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div id="footer">
			<a class="card_foot" href="#">
				<img src="/img/card_quienessomos.png" th:src="@{/img/card_quienessomos.png}" alt="quienes somos">
			</a>
			<a class="card_foot" href="#">
				<img src="/img/card_nuestrosservicios.png" th:src="@{/img/card_nuestrosservicios.png}" alt="nuestros servicios">
			</a>

			<a class="card_foot" href="#">
				<img src="/img/card_solicitademo.png" th:src="@{/img/card_solicitademo.png}" alt="solicita una demo">
			</a>

		</div>

	</div>
</body>

</html>